<%- include('header') -%>
<div class="container p-5">
<form class="form-signin" method="post" action="/api/cars">
    <h2>Enter New Car Details</h2>
    <input type="text" name="model"  class="form-control m-3" placeholder="Enter model name" required autofocus>
    <input type="text" name="year"  class="form-control m-3" placeholder="Enter Year name" required >
    <input type="text" name="color"  class="form-control m-3" placeholder="Enter color name" required >
    <button class="btn btn-lg btn-primary btn-block my-1" type="submit">Done</button>
  </form>
</div>
<%- include('footer') -%>