<%- include('header') -%>
<br>
<br>
<div class="container">

    <div class="row">
        <div class="d-flex flex-row-reverse">
            <a class="btn btn-danger" href="/logout" role="button">LogOut</a>
          </div>
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">Cars section</h1>
                <p class="lead">in this cars section you can manage all the information about the cars your company holds and list them. You can modify and view the list whenever it is required.</p>
                <hr class="my-4">
                <p>It uses all the data required for the car garage management system. This system helps alot in the car administration process and get the things well ain an effecient manner</p>
                <p class="lead">
                <a class="btn btn-outline-secondary btn-lg" href="/api/cars" role="button">Enter car section</a>
                </p>
            </div>
        </div>
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">Customer section</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses all the data required for the car garage management system. This system helps alot in the car administration process and get the things well ain an effecient manner</p>
                <p class="lead">
                <a class="btn btn-outline-success btn-lg" href="/api/customers" role="button">Enter customer section</a>
                </p>
            </div>
        </div>
    </div>
</div>
<%- include('footer') -%>